DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/orginfo
BASE_URL=http://localhost:8000
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
ORGINFO_BASE_SEARCH_URL=https://orginfo.uz/uz/search/organizations/
CRAWLER_TIMEOUT_SECONDS=30
