# Python dependencies
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
passlib[bcrypt]
bcrypt<5
scrapy
selectolax
redis
aiokafka
pydantic-settings
click
pytest
pytest-asyncio
httpx
